<!--<div class="container mt-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="form-Registro">
                <p class="title">Nuevo Usuario</p>

                <form class="form" action="InsertarDatos" method="post">

                    <input type="text" id="nombre" name="nombre" class="input" placeholder="Nombre " required>
                    <input type="text" id="apellido" name="apellido" class="input" placeholder="Apellidos" required>
                    <input type="text" id="dni" name="dni" class="input" placeholder="DNI" required>
                    <input type="text" id="telefono" name="telefono" class="input" placeholder="Telefono" required>
                    <input type="text" id="email" name="email" class="input" placeholder="Email" required>
                    <input type="text" id="clave" name="clave" class="input" placeholder="Clave" required>
                    <input type="password" id="contraseña" name="contraseña" class="input" placeholder="Contraseña">
                    <input type="password" id="confContraseña" name="confContraseña" class="input" placeholder="Confirmar Contraseña">
                    <button type="submit" class="form-btn">Registrarse</button>
                </form>
            </div>

        </div>


    </div>-->



    <div class="contenedor form-registro">
        <p class="titulo">Nuevo Usuario</p>
        <form class="form" id="usuarioForm">

            <!--cambiar inputs por los que tienen el name-->
            <input type="text" id="nombre" class="input" placeholder="Nombre ">
            <input type="text" id="apellidos" class="input" placeholder="Apellidos">
            <input type="text" id="dni" class="input" placeholder="DNI">
            <input type="text" id="tlf" class="input" placeholder="Telefono">
            <input type="text" id="email" class="input" placeholder="Email">
            <input type="password" id="contraseña" class="input" placeholder="Contraseña" required oninput="revisarContraseña()">
            <input type="password" id="confContraseña" class="input" placeholder="Confirmar Contraseña" required oninput="revisarContraseña()">
            
            
            <button type="submit" onclick="guardarUsuario()" class="form-btn">Registrarse</button>
        <div class="mensajeContraseña" id="mensajeContraseña"></div>
        </form>
    </div>
